html,
body {
    height: 100%;
}

@media (min-width: 768px) and (max-width: 992px){
    .nav > li > a{
        padding: 10px 4px;
    }
}


.navbar-nav .active a{
    background-color: #4A4A4A!important;
}
.__web-inspector-hide-shortcut__{
    visibility: visible!important;
}

.navbar-brand{
    margin: 0;
    padding: 0;
    display: flex;
}

@media (max-width: 768px){
    .navbar-brand{
        padding: 10px;
    }
}

.navbar-brand img{
    max-width: 180px;
    width: 100%;
}

.master-header{
    background-color: #C63318 !important;
    border-color:  #C63318;
}

.master-header a,button{
    color: white!important;
}

.wrap {
    background-color: #EEEEEE;
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #4A4A4A;
    border-top: 1px solid #ddd;
    padding: 20px;
}

.footer img{
    max-width: 150px;
}

.auth-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.auth-block h4{
    font-weight: 600;
}

.auth-block input {
    max-width: 275px;
    width: 275px;
}

.auth-block .checkbox label{
    padding-left: 0;
}

.auth-block input[type="checkbox"]{
    height: 20px;
    margin-top: 0;
}



.auth-block__button{
    display: flex;
    justify-content: center;
}

.auth-block__button .btn.w-100{
    width: 100%!important;
}

.btn-master {
    background-color: #C63318 !important;
    color: white;
    border: 2px solid transparent;
}
.btn-master:hover,
.btn-master:active,
.btn-master:focus{
    outline: none;
    color: white;
    border: 2px solid darkred;
}

@media (max-width: 476px) {
    .gabarits .row > div{
        padding: 0!important;
    }
    .gabarits .row > div:first-child{
        padding: 0 0 0 15px!important;
    }
}
.save-door__button{
    text-align: right;
}

.specialization-block{
    padding-top: 50px;
    display: flex;
    justify-content: space-around;
}

.service-price-form h3{
    text-align: center;
    font-weight: 600;
}

.service-price-form .door-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.panel-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.panel-title a{
    cursor: pointer;
}

.panel-body .services{
    display: flex;
}

.panel-body .services .counter{
    max-width: 100px;
}

.field-doors-wall_material > div > label:last-child{
    display: flex;
    align-items: center;
}

.field-doors-wall_material > div > label:last-child > .form-control{
    margin-left: 5px;
}

.field-doors-type_opening > div > label,
.field-doors-adherence > div > label{
    border-radius: 5px;
    padding: 5px;
    background-color: #EEEEEE;
}

.field-doors-type_opening label:first-child input[type="radio"]::after{
    content: '#1';
    margin-left: 25px;
}
.field-doors-type_opening label:nth-child(2) input[type="radio"]::after{
    content: '#2';
    margin-left: 25px;
}
.field-doors-type_opening label:last-child input[type="radio"]::after{
    content: '#3';
    margin-left: 25px;
}

.field-doors-adherence label:first-child input[type="radio"]::after{
    content: 'Левая внутренняя';
    white-space: nowrap;
    margin-left: 25px;
}
.field-doors-adherence label:first-child img {
    -moz-transform: scale(-1);
    -webkit-transform: scale(-1);
    -o-transform: scale(-1);
    transform: scale(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}
.field-doors-adherence label:nth-child(2) input[type="radio"]::after{
    content: 'Правая внутренняя';
    white-space: nowrap;
    margin-left: 25px;
}
.field-doors-adherence label:nth-child(2) img {
    -moz-transform: scale(1,-1);
    -webkit-transform: scale(1, -1);
    -o-transform: scale(1, -1);
    transform: scale(1, -1);
    filter: FlipV;
    -ms-filter: "FlipV";
}
.field-doors-adherence label:nth-child(3) input[type="radio"]::after{
    content: 'Левая наружняя';
    white-space: nowrap;
    margin-left: 25px;
}
.field-doors-adherence label:last-child input[type="radio"]::after{
    content: 'Правая наружняя';
    white-space: nowrap;
    margin-left: 25px;
}
.field-doors-adherence label:last-child img {
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    transform: scale(-1, 1);
    filter: FlipH;
    -ms-filter: "FlipH";
}
.site-index h1{
    display: flex;
    justify-content: center;
    font-weight: 600;
    text-align: center;
}

.specialization-block__item{
}

.specialization-block__item a{
    color: #4A4A4A;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.specialization-block__item a:hover {
    color: #C63318;
}

.specialization-block__item a:hover img{
    transform: scale(1.1);
    transition: .2s;
}

.specialization-block__item img{
    max-width: 150px;
}

@media (max-width: 768px) {
    .specialization-block{
        flex-direction: column;
    }
    .specialization-block h2{
        text-align: center;
    }
    .specialization-block__item:last-child{
        margin-top: 50px;
    }
}
.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}


.doors-list .doors-list__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid black;
    border-radius: 10px;
    margin: 15px 0;
    padding: 15px;
    background-color: #ffffff;
    cursor: pointer;
}

.doors-list .doors-list__item h4{
    font-weight: bold;
}

.doors-list .doors-list__item div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.doors-list .doors-list__item h4 strong a{
    color: #C63318;
}

.doors-list .doors-list__item:hover{
    transform: scale(1.1);
    transition: 0.5s;
}